{#  fnbody_component_top.j2

Component package body that has to be above the lower-level accessors, because
it may be referenced.

Expects:
    node (RegisterArray): The registerarray in question
#}
--------------------------------------------------------------------------------
-- Address Grabbers
--------------------------------------------------------------------------------

{% set high = (node.size - 1).bit_length()-1 %}
function GET_ADDR(address: std_logic_vector) return t_addr is
    variable normal : std_logic_vector(address'length-1 downto 0);
begin
    normal := address;
    return TO_INTEGER(UNSIGNED(normal({{high}} downto 0)));
end function GET_ADDR;

function GET_ADDR(address: unsigned) return t_addr is
begin
    return TO_INTEGER(address({{high}} downto 0));
end function GET_ADDR;

-- This function is local only to avoid conflicts
function IS_HIGH(x : std_ulogic) return boolean is
begin
    return (x = '1') or (x = 'H');
end function IS_HIGH;

--------------------------------------------------------------------------------
--  Accessor Functions
--------------------------------------------------------------------------------
