@charset "UTF-8";

/*
CSS style information for Highland-generated HTML register documentation
This file styles peripheral maps, unbound components, and bound components.
So everything, basically.

Rob Gaddi, Highland Technology
12-Jun-2017
*/

/* Overall guiding rules */

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
}

#wrapper {
    width: 1000px;
}

@media screen {
    #content {
        margin-left: 15em;
        padding-left: 2em;
    }

    #sidebar {
        float: left;
        width: 15em;
        top: 0;
        height: 95%;
        margin: 1em;
        position: fixed;
        overflow-y: scroll;
    }
} 
    
h1 {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: black;
    font-size: 1.6em;
}

h3 {
    color: DarkBlue;
    font-size: 1.25em;
}

@media print {
    #content {
        width: 100%;
    }

    #sidebar {
        display: none;
    }
}


/* Component/Instance specific styles. */

div.register {
    border: 1px solid Gainsboro;
    margin: 2px;
    padding: 0.5em;
}

div.regarray {
    border: 2px solid black;
    padding: 0.5em;
}

table.bitfield {
    border: 2px solid DarkBlue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    page-break-inside: avoid;
}

tr.bit_numbers {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.7em;
    font-weight: bold;
    background: PapayaWhip;
}

td {
    border: 1px solid black;
}

.std_field {
}

.reserved_field {
    background: DarkGrey;
    color: DarkGrey;
}

ul.fieldlist {
    list-style-type: disc;
}

.fielddef {
    font-style: italic;
}

p.address {
    font-size: 0.8 em;
    font-style: italic;
    float: right;
}

/* MemoryMap specific styles */

table.component_list {
    border: 2px solid DarkBlue;
    margin-left: auto;
    margin-right: auto;
}

table.component_list th {
    background-color: PapayaWhip;
}

table.component_list tr {
    page-break-inside: avoid;
}

table.component_list tr:nth-child(odd) {
    background-color: #eee;
}

table.component_list td {
    padding: 0.5em;
}

td.paddress, td.psize {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.85em;
    font-weight: bold;
}


